.events {
  display: flex;
  justify-content: space-between;
  width: 150px;
  .tickets {
    img {
      width: 15px;
      cursor: pointer;
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
